asgiref==3.7.2
beautifulsoup4==4.12.2
crispy-bootstrap4==2022.1
Django==4.2.4
django-crispy-forms==2.0
greenlet==2.0.2
lxml==4.9.3
playwright==1.36.0
pyee==9.0.4
python-dotenv==1.0.0
pytz==2023.3
soupsieve==2.4.1
sqlparse==0.4.4
typing_extensions==4.7.1
