{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container">

    {% if otp %}
              <h1>Verify Your OTP</h1><br>
            
             <form method="POST" action="">
            {% csrf_token %}
                <input type="text" class="form-control" placeholder="Enter Your OTP" name="otp"><br>
                <input type="hidden" name="email" value="{{user.email}}">
                <input type="submit" class="btn btn-success" value="Verify OTP">
            </form>

     {% else %}
              <form method="POST" action="">
              {% csrf_token %}
              {{form|crispy}}
              <input type="submit" class="btn btn-success" value="Signup">
             </form>
     {% endif %}


{% endblock %}